/* red is rgb(158, 9, 24) */
/* background grey rgb(221, 220, 214) */
/* footer grey is rgb(51, 51, 51) */
body {
    background-color: rgb(240, 240, 240);
}

/* the code below targets the nav bar */
.navbar{
      background-color: rgb(158, 9, 24)!important;
      color:white;
      font-size: 22px;
}
.navbar h2 {
    font-size: 22px;
    font-family: 'Times New Roman';
    padding: 0px 20px ;
}
.navbar h3 {
    font-size: 22px;
    letter-spacing: 15px;
    padding: 0px 20px ;
}
.navbar input[type=text]{
    border-radius: 5px;
    border: 2px solid rgb(240, 240, 240);
    background-image: url('searchicon.png');
    background-position: 1px 6px;
    background-repeat: no-repeat;
    padding: 1px 14px 1px 14px;
    background-color: rgb(240, 240, 240);
    font-family: 'arial';
}
.navbar input:focus {
  background-color: rgb(255, 230, 230);
}
.navbar form{
  width: 33%;
  margin-left: auto;
  margin-right: auto;
}
/* end of nav bar styling */
/* below is the code for the header section */
 #WashUBar{
   background-color:rgb(60, 61, 61) !important;
   /* background-color: rgb(158, 9, 24); */
   color: white;
   padding-top: 5px;
   padding-bottom: 1px;
   width: 100%;
 }
 #WashUBar img{
   float: left;
   padding-right: 20px;
   padding-left: 100px;

 }
 #WashUBar h1{
   font-size: 25px;
   font-family: 'Times New Roman';
 }
 #SamBar{
   background-color: rgb(128, 128, 128);
   padding-top: 5px;
   padding-bottom: 1px;
   width: 100%;
   text-align: center;
   color:white;
 }

 #SamBar h1{
   font-size: 25px;
   font-family: 'Times New Roman';
 }
 #headerdiv{
   background-color:rgb(60, 61, 61);
 }
 /* Prospective student scss */
 iframe{
   float:right;
   margin-left: 20px;
 }
/* all headers  css */
.header h1{
  text-align: center;
}
/* current students css */
#Events{
  margin-bottom:30px;
  margin-right: 10px;
  background-color: rgb(0, 128, 43);
  background-color:rgb(158, 9, 24);
  color: white;
  padding:30px;
}
#Events p{
  font-size: 13px;
}
/* alumni css */
#alumni{
  background-color: white;
}
#alumni img{
  float:right;
  margin-left: 20px;
}
/* .container{
  border: 2px solid  rgb(200, 200, 200);
} */

#prospective{
  background-color: white;
}




.container.content{
  /* margin: 15px 0px; */
  width: 100%;
  padding-top: 40px;
}

/* #al{
  padding: 0px;
} */










/* start of layout styling */
#secondpost{
  width: 700px;
}
.post{
  background-color: white;
  border: 2px solid  rgb(230, 230, 230);
  margin: 50px 20px 50px 250px;
  padding: 0px;
  width:100%;
}

.username img{
  float: left;
}
.username h3{
  padding-top: 20px;
  font-size: 20px;
}
.comments{
  padding: 10px;
}
.comments h2{
  letter-spacing: 5px;
  display: inline;
  text-align: right;
}
.comments input[type=text]{
  border:  white;
}
.comments input:focus {
  outline:0;
}
.time{
  display: inline;
  color:rgb(170, 170, 170);
  font-size: 16px;
  margin: 0;
}
.bookmark{
  float: right;
  display: inline;
}
#stories{
 margin-right: 100px;
 margin-top: 50px;
 height: 300px;
 position: sticky;
 overflow: scroll;
}

#stories img{
border-radius: 100px;
}

#suggestions{
  width: 700px;
}
.suggestions{
  background-color: white;
  border: 2px solid  rgb(230, 230, 230);
  margin: 50px 250px;
  width: 50%;
  padding: 20px;
}
.suggestions h1{
  color:rgb(170, 170, 170);
  font-size: 16px;
}

.suggestion{
    margin: 0px 5px;
    border: 2px solid  rgb(240, 240, 240);
    padding-bottom: 15px;
}
.suggestion h2{
  font-size: 16px;
  text-align: center;
  margin: 10px 0px;
}
.suggestion h3{
  font-size: 13px;
  color: grey;
  text-align: center;
  margin: 10px 0px;
}
.suggestion img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
 button{
  margin: 10px 0px;
  width: 100%;
}

/* end of layout styling */

/* Start of reponsive layout styling */
@media (max-width: 991.98px) {
    #WashUBar img{
      padding-left: 20px;
    }
    #WashUBar h1{
      font-size: 18px;
    }
    #WashUBar img{
      padding-left: 20px;
    }
    #SamBar h1{
      font-size: 15px;
    }

    .post{
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
    #secondpost{
      width: 75%;
      margin-left: auto;
      margin-right: auto;
    }
    #suggestions{
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
    .suggestion{
      width: 30%;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
    #stories{
        display: none;
    }
}
/* end of reponsive layout style */
