/* .container{
  border: 2px solid  rgb(200, 200, 200);
} */
body {
    background-color: rgb(230, 230, 230);
    font-family: 'roboto';
    font-size: 18px;
}
/* the code below targets the nav bar */
.navbar{
      background-color: rgb(158, 9, 24)!important;
      color:white;
      font-size: 18px;
      text-shadow: 2px 2px 3px rgb(30, 30, 30);
}
.navbar h2 {
    font-size: 18px;
    padding: 0px 20px ;
}
.navbar h3 {
    font-size: 18px;
    letter-spacing: 15px;
    padding: 0px 20px ;
}
.navbar input[type=text]{
    border-radius: 5px;
    border: 2px solid rgb(240, 240, 240);
    background-image: url('searchicon.png');
    background-position: 1px 6px;
    background-repeat: no-repeat;
    padding: 0px 70px 0px 14px;
    background-color: rgb(240, 240, 240);
}
.navbar input:focus {
  background-color: rgb(255, 230, 230);
}
.navbar form{
  width: 33%;
  margin-left: auto;
  margin-right: auto;
}
 .navbar a{color:white;}
 .navbar a:link {  color:white;}
.navbar a:hover {color:white;}
/* below is the code for the header section */
 #WashUBar{
   background-color:rgb(60, 61, 61) !important;
   color: white;
   padding-top: 5px;
   padding-bottom: 1px;
   width: 100%;
   font-family: 'Merriweather';
 }
 #WashUBar img{
   float: left;
   padding-right: 20px;
   padding-left: 100px;
 }
 #WashUBar h1{
   font-size: 20px;
   text-shadow: 2px 2px 3px rgb(30, 30, 30);
 }
 #SamBar{
   background-color: rgb(128, 128, 128);
   padding-top: 5px;
   padding-bottom: 1px;
   width: 100%;
   text-align: center;
   color:white;
   text-shadow: 2px 2px 3px rgb(30, 30, 30);
 }
 #SamBar h1{
   font-size: 20px;
   margin:0px;
 }
 #headerdiv{
   background-color:rgb(60, 61, 61);
   color:rgb(60, 61, 61);
   padding-bottom: 1px;
 }
#carousels{
  margin-bottom: 20px;
}
#carousels h4{
  text-shadow: 2px 2px 3px black;
}
#carousels p{
  text-shadow: 2px 2px 3px black;
}
/* sidebar css */
#sidebar{
  overflow:hidden;
  background-color: rgb(220, 220, 220);
  padding-right: 0px;
  padding-left: 0px;
}
#sidebar h3{
  font-size: 17px;
  padding-top: 30px;
  padding-bottom: 5px;
  font-family: 'Merriweather';
}
#sidebar p{
  font-size: 12px;
  margin-top: 4px;
  margin-bottom: 4px;
}
#sidebar hr{
    margin: 0px;
}
/* content */
#mainContent{
  padding-left: 0px;
}
.container.content{
  padding: 60px 125px;
}
 /* Prospective student scss */
 iframe{
   float:right;
   margin-left: 20px;
 }
 #prospective{
   background-color:rgb(238, 238, 238);
 }
/* all headers  css */
.header h1{
  text-align: center;
  color: rgb(158, 9, 24);
  font-family: 'Merriweather';
  text-shadow: 2px 2px 4px rgb(150, 150, 150);
  font-size: 55px;
  padding-bottom: 30px;
}
/* current students css */
#upcoming{

}
#Events{
  margin-bottom:30px;
  margin-right: 40px;
  background-color:rgb(158, 9, 24);
  color: white;
  padding:30px;
}
#Events p{
  font-size: 13px;
}
#current hr {
  border: 0.5px solid rgb(120, 0, 0);
}
/* alumni css */
#alumni{
  background-color:rgb(239, 239, 239);
}
#alumni img{
  float:right;
  margin-left: 20px;
}
.container a{color:rgb(145, 9, 24);}
.container a:link {  color:rgb(145, 9, 24);}
.container a:hover {color:rgb(145, 9, 24);}

/* start of footer styling */
#greyFoot{
     background-color: rgb(80, 80, 80);
     color: white;
     padding: 20px 0px;
     text-shadow: 2px 2px 3px rgb(30, 30, 30);
}
#greyFoot p{
  font-size: 15px;
  margin: 0px;
}

#washuFoot{
  background-color: rgb(158, 9, 24);
  color: white;
  padding: 8px 0px;
}
#washuFoot img{
  float: left;
  padding-right: 20px;
  padding-left: 100px;
}
#washuFoot h1{
  font-size: 17px;
  font-family: 'Merriweather';
  text-shadow: 2px 2px 3px rgb(30, 30, 30);
}
/* end of layout styling */

/* Start of reponsive layout styling */
@media (max-width: 991.98px) {
    #WashUBar img{
      padding-left: 20px;
    }
    #WashUBar h1{
      font-size: 18px;
    }
    #WashUBar img{
      padding-left: 20px;
    }
    #SamBar h1{
      font-size: 15px;
    }
    iframe{
      width:300px;
      height:160px;
    }
    img{
      max-width: 100%;
      max-height:100%;
    }
    #sidebar{
      display: none;
    }
    .container.content{
      padding: 15px 30px;
      font-size: 15px;
    }
    #current{
      padding: 0px;
      margin: 0px;
      font-size: 12px;
    }
    #Events{
      margin:0px;
    }
    #upcoming{
      font-size: 20px;
    }
    #greyFoot p{
      font-size: 10px ;
    }
    #greyFoot h4{
      font-size: 15px ;
    }
}
/* end of reponsive layout style */
